body {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("main-background.webp");
}

.nav {
    background-color: #A68270;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

.nav > ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

li {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #EEE9DC;
}

.nav > img {
    height: 100%;
    max-height: 5rem;
}
